<title>Diet Tracker</title>

<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta name="generator" content="Diet Tracker" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="style.pack.css" />
<link rel="stylesheet" href="js/cluetip/jquery.cluetip.pack.css" type="text/css" />
<link rel="stylesheet" type="text/css" media="all" href="calendar/calendar-blue.pack.css" />

<script type="text/javascript" src="js/jquery-1.2.1.pack.js"></script>
<script type="text/javascript" src="js/cluetip/jquery.dimensions.pack.js"></script>
<script type="text/javascript" src="js/cluetip/jquery.hoverIntent.pack.js"></script>
<script type="text/javascript" src="js/cluetip/jquery.cluetip.pack.js"></script>
<script type="text/javascript" src="js/reflection.js"></script><!-- packed version gives error-->
<script type="text/javascript" src="calendar/calendar_stripped.js"></script>
<script type="text/javascript" src="calendar/lang/calendar-en.pack.js"></script>
<script type="text/javascript" src="calendar/calendar-setup.pack.js"></script>
