<div id="header">
	<div id="banner">
		<div id="logotitle">
			<img class="reflect rheight60 ropacity70" src="images/apple.png" style="float: left;" alt="" />
		</div>

		<div id="menu">
			<a href="index.pl" title="Home">Front Page</a> | 
			<a href="admin.pl">Admin</a> <b> &#151; </b>  
			<a href="http://www.fourmilab.ch/hackdiet/www/hackdiet.html">Hacker's Diet</a> | 
			<a href="http://www.calorieking.com/">Calorieking</a>
		</div>
	</div>
</div>
