<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<TMPL_INCLUDE NAME="head_include.tmpl">
<TMPL_IF NAME="en_autosuggest">
<link rel="stylesheet" href="autosuggest/autosuggest_inquisitor.pack.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript" src="autosuggest/bsn.AutoSuggest_2.1.3.js" charset="utf-8"></script>
</TMPL_IF>
<script type="text/javascript" src="js/jquery.jeditable.282mod.pack.js"></script>
<script type="text/javascript" src="js/editajax.pack.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
function confirmDelete(){var agree=confirm("Are you sure you wish to delete this entry?");if (agree){return true;}else{return false;}}
$(document).ready(function(){

<TMPL_IF NAME="valid">
$("#messages").fadeIn().fadeTo(3000,1).fadeTo(1000,0);
</TMPL_IF>

$('#fitem').focus();

$("div.item_details").hide();

$('a.toggle_button').toggle(
function(){
   $(this).html("<img src=\"images/collapse.png\" alt=\"Collapse\" /> ");
   $('div.'+$(this).attr('id')).slideDown();
},
function(){
   $(this).html("<img src=\"images/expand.png\" alt=\"Expand\" /> ");
   $('div.'+$(this).attr('id')).slideUp();
}
).css('display','inline');

$('a.tips').cluetip({local:true});

$(".edit").editable("intake.pl", {
   tooltip   : "Click to edit ...",
   event     : "click",
   indicator : "<img src='images/indicator.gif'>",
   cssclass  : "editform",
   submitdata: {action: "edit"},
   callback  : intake_callback
});

});
//--><!]]>
</script>
</head>
<body>
<div id="debug"> </div>
<div id="topHelp" class="hide">Click on intake item name or the calorie value to edit them inline. Press enter after making the modifications.</div>
<TMPL_INCLUDE NAME="header.tmpl">
<div class="help"><a class="tips" href="#topHelp" rel="#topHelp" title="Editing">(help)</a></div>
	<h1>Diet Summary</h1> 
<div id="content">
<div id="left">
	<div class="graphs">
		<img src="view_lifting_graph.pl?start_date=<TMPL_VAR NAME="start_date">&amp;stop_date=<TMPL_VAR NAME="stop_date">" alt="Lifting Graph" />
		<img src="view_weights_graph.pl?start_date=<TMPL_VAR NAME="start_date">&amp;stop_date=<TMPL_VAR NAME="stop_date">" alt="Weights Graph" />
		<img src="view_intake_graph.pl?start_date=<TMPL_VAR NAME="start_date">&amp;stop_date=<TMPL_VAR NAME="stop_date">" alt="Intake Graph" />
		<img src="view_intake_split_graph.pl?start_date=<TMPL_VAR NAME="start_date">&amp;stop_date=<TMPL_VAR NAME="stop_date">" alt="Intake Split Graph" />
	</div>
</div>
<div id="right">
	<table class="intake">
		<tr>
			<th class="date">Date</th>
			<th class="kcal">Total Intake</th>
			<th></th>
		</tr>
		<tr>
			<th class="date"></th>
			<th class="kcal">kCal - Prot - Carb - Fat</th>
			<th></th>
		</tr>
		<TMPL_LOOP NAME="outer_loop">
		<tr>
			<td class="date"><a id="item_<TMPL_VAR NAME="item_details_id">" class="toggle_button" href="view_intake.pl"><img src="images/expand.png" alt="Expand" /> </a><TMPL_VAR NAME="date_sum"></td>
			<td class="kcal kcal<TMPL_VAR NAME="item_details_id">"><TMPL_VAR NAME="sum"> - <TMPL_VAR NAME="sum_p"> - <TMPL_VAR NAME="sum_c"> - <TMPL_VAR NAME="sum_f"></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="3">
				<div class="item_<TMPL_VAR NAME="item_details_id"> item_details">
					<ul>
						<TMPL_LOOP NAME="inner_loop">
						<li>
							<a onclick="return confirmDelete();" href="intake.pl?action=delete&amp;id=<TMPL_VAR NAME="id">">
								<img style="padding-right:5px;" src="images/delete.png" alt="Delete this entry" />
							</a>
							<span title="Click to edit" id="<TMPL_VAR NAME="id">f" class="edit"><TMPL_VAR NAME="item"></span>
							 - [ 
							<span id="<TMPL_VAR NAME="id">m" class="edit <TMPL_VAR NAME="date">"><TMPL_VAR NAME="amount"></span>
							 - 
							<span id="<TMPL_VAR NAME="id">c" class="edit <TMPL_VAR NAME="date">"><TMPL_VAR NAME="calorie"></span>
							 ] - [ 
							<span id="<TMPL_VAR NAME="id">p" class="edit <TMPL_VAR NAME="date">"><TMPL_VAR NAME="protein"></span>
							 - 
							<span id="<TMPL_VAR NAME="id">a" class="edit <TMPL_VAR NAME="date">"><TMPL_VAR NAME="carb"></span>
							 - 
							<span id="<TMPL_VAR NAME="id">t" class="edit <TMPL_VAR NAME="date">"><TMPL_VAR NAME="fat"></span>
							 ] - [ 
							<span id="<TMPL_VAR NAME="id">p" class="edit <TMPL_VAR NAME="date">"><TMPL_VAR NAME="cal_rough"></span>
							 - 
							<span id="<TMPL_VAR NAME="id">a" class="edit <TMPL_VAR NAME="date">"><TMPL_VAR NAME="cal_macro"></span>
							 ]
						</li>
						</TMPL_LOOP>
					</ul>
				</div>
			</td>
		</tr>
		</TMPL_LOOP>
	</table>
	<p><TMPL_IF NAME="prev_page_num"><a href="intake.pl?start_date=<TMPL_VAR NAME="start_date">&amp;stop_date=<TMPL_VAR NAME="stop_date">&amp;page=<TMPL_VAR NAME="prev_page_num">">&lt;&lt;Prev</a> | </TMPL_IF><TMPL_IF NAME="next_page_num"><a href="intake.pl?start_date=<TMPL_VAR NAME="start_date">&amp;stop_date=<TMPL_VAR NAME="stop_date">&amp;page=<TMPL_VAR NAME="next_page_num">">Next&gt;&gt;</a></TMPL_IF></p>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
</div>
</body>
</html>
